@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #212529;
}
button {
  outline: none;
  &::-moz-focus-inner {
    border: 0;
  }
}

.Hangman {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    align-items: center;
    margin: 25px 110px 10px;
    font-size: 1.2rem;

    .title {
      text-decoration: none;
      font-size: 1.25rem;
      color: white;
      font-weight: 400;
      font-size: 1.4rem;
      margin: 3px 7px 3px 3px;
    }

    .wrong-guesses {
      flex-grow: 1;
      text-align: end;
      color: #007bff;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      margin: 10px 0;
    }
  }

  .main {
    display: flex;
    width: 90%;
    margin: 10px auto;
    @media screen and (max-width: 860px) {
      flex-direction: column;
      margin: 50px auto;
    }

    @media screen and (max-width: 640px) {
      margin: 20px auto;
    }

    .left {
      display: flex;
      flex-direction: column;
      flex: 0 1 40%;

      .shoimg {
        img {
          width: 200px;
          width: 350px;
        }
      }

      .output-area {
        > p {
          color: #ffffff;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      flex: 0 1 60%;
      color: yellow;
    }
  }
}

.game-status {
  width: 100%;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
}
.btn {
  border: 0;
  border-radius: 10px;
  background-color: #07ffc9;
  width: 5rem;
  height: 4.8rem;
  margin: 18px 8px 10px 13px;
  padding-top: 15px;
  font-size: 2.5rem;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
  }

  @media screen and (max-width: 640px) {
    width: 3rem;
    font-size: 1.5rem;
    height: 3rem;
    padding: 0;
  }

  @media screen and (max-width: 400px) {
    width: 2rem;
    height: 2rem;
    padding: 0;
    font-size: 1rem;
    margin: 5px;
  }
}

.letters {
  display: flex;
  font-size: 1.5rem;
  color: #07ffc9;
  letter-spacing: 0.7em;
  justify-content: center;
}

.checked {
  background-color: #ff1100 !important;
  border-color: #ff1100;
  box-shadow: 0 0 40px #ff1100;
}
.btn-reset {
  text-align: center;
  width: fit-content;
  border: 0;
  border-radius: 10px;
  background-color: #07ffc9;
  height: 3.6rem;
  padding-top: 7px 10px 0;
  font-size: 2.5rem;
  margin: 50px auto 20px;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
  }

  @media screen and (max-width: 640px) {
    font-size: 1.5rem;
    height: 3rem;
  }

  @media screen and (max-width: 400px) {
    height: 2rem;
    font-size: 1rem;
    margin: 20px auto 20px;
  }
}
